@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
    color: rgb(255, 145, 0);
  }

  .container{
    background-color: #262e36;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .piano{
    display:flex;
    position: relative;
    justify-content: center;
    background-color: black;
    width: 62vw;
    height: 30.7vh;
    padding: 2px;
    
  }

  .key {
    height: calc(var(--width)*4);
    width: calc(var(--width)*4);
}

  .white{
    --width: 70px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 10px;
  }

  .black{
    --width: 45px;
    background-color: black;
    border: 1px solid #333;
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    z-index: 2;
    border-radius: 10px;
    transition: 200ms;
  }